[submodule "frontend"]
	path = frontend
	url = https://github.com/Laksen21/task-manager-web-app-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Laksen21/task-manager-api.git
